body{
    background: linear-gradient(azure, purple);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{70px}

body{
    font-size: 20px;
    margin: 0;
}
header{
    background-color: wheat;
    padding: 1.5em;
}
.hero{
    background-color: white;
    height: 30em;
    display: flex;
    padding: 1.5em;
}
.hero .column{
    display: inline-block;
    vertical-align: top;
    width: 45%;

}
.hero .column.first{
    padding-top: 10em;
    flex: 2;
}